body {
    font-family: "JetBrains Mono", monospace;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

a:visited {
    color: #e0e0e0;
}

a:hover {
    color: #b94f2a;
}
